:root {
  --background-color: #1A1A1D;
  --nav-background: #1a1a1d;
  --nav-font: #4E4E50;
  --icon: #C3073F;
  --font: #F4F4F4;
  --hover: #f60950;
  --item-background: #C3073F;
}

.light-theme {
  --background-color: #DCD7C9;
  --nav-background: #A27B5C;
  --nav-font: #2C3639;
  --icon: #2C3639;
  --font: #5F7161;
  --hover: #809A6F;
}