:root {
  --background-color: #1A1A1D;
  --nav-background: #1a1a1d;
  --nav-font: #4E4E50;
  --icon: #C3073F;
  --font: #F4F4F4;
  --hover: #f60950;
  --item-background: #C3073F;
}

.light-theme {
  --background-color: #F1E8E6;
  --nav-background: #F1E8E6;
  --nav-font: #EDD2CB;
  --icon: #F55951;
  --font: #361D32;
  --hover: #a0799d;
}